body {
  background-image: url(./drums.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Lexend Peta", sans-serif;
}
.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 80vh;
}
h1 {
  text-shadow: 2px 2px 2px #fff;
  flex-basis: 100%;
}
.key {
  display: flex;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  justify-content: center;
  flex-flow: column wrap;
  border: 1px solid #000;
  text-align: center;
  margin: 15px;
  transition: 0.07s;
  box-shadow: 0px 0px 0px 0px rgba(173, 56, 173, 1);
  cursor: pointer;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.4);
}
.key.playing {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px rgba(173, 56, 173, 1);
}
.key:hover {
  box-shadow: 0px 0px 10px 0px rgba(173, 56, 173, 1);
}
.key strong {
  font-family: "Cinzel", serif;
  font-size: 18px;
  font-weight: 700;
  display: block;
  text-transform: uppercase;
}

.key span {
  font-size: 10px;
  color: orange;
  font-weight: 400;
  text-transform: uppercase;
}
